.App {
  text-align: center;
}

.links {
  list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

.links-end {
  justify-content: flex-end;
}

.links-end li a{
  color: pink;
}


.btn {
  background: transparent;
  border-color: transparent;
  text-transform: uppercase;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all .2s;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
}

.btn:hover {
  color: white;
  background: steelblue;
  border-color: white;
}

.active-btn {
  color: white;
  background: steelblue;
  border-color: blue;
}